<footer>

    <section class="footer-menu-links">
    
        <div class="container">

            <div class="row">

                    {% for item in header_menu.items %}

                        <div class="col-12 col-sm-6 col-lg-4">

                            <a id="{{ item.slug }}" {% if item.current %} class="footer-menu-links__link footer-menu-links__active-menu" {% else %} class="footer-menu-links__link" {% endif %} href="{{ item.link }}" aria-label="{{ item.title }}">{{ item.title }}</a>

                        </div>

                    {% endfor %} 

                </div>


            </div>
        </div>

    </section>
       
    <section class="footer-footnote">

        <div class="container">

            <div class="row">

                <div class="col-12 margin-top-3 margin-bottom-3 my-auto text-center">

                    {{ footer.footnote }}
                    <p class="text-white"><span>Copyright &copy;&nbsp;{{ footer.start_year }}-{{ now|date('Y') }}&nbsp;{{ general.company_name }}</span></p>

                </div>

            </div>

        </div>
   
    </section>



    <button id="genlite-back-to-top" title="Go to top">
        <img src="{{ theme.link }}/dist/images/chevron-up-solid.svg" alt="Go to the top of page">
    </button>

  
    {% if script_code.code_footer is not empty %}

        {{ script_code.code_footer }}

    {% endif %}

</footer>
