{% extends "base.twig" %}

{% block content %}

    <section>
        <div class="container">
            <div class="row">

                <div class="col-12 text-center margin-bottom-2">

                    <div class="title-wrapper">
                        <h1>{{ title }}</h1>
                        <div>{{ description }}</div>
                    </div>
                    
                </div>

            </div>
        </div>
    </section>

    <section class="archive">

        <div class="container">
            <div class="row">
    
                {% for post in posts %}

                    {% if post.post_status == 'publish' and post.title is not empty %}

                        <div class="col-12 col-sm-6 col-md-4 mb-4">

                            <article>

                                <a href="{{ post.link }}" aria-label="{{ post.title }}">{{ post.title }}</a>

                            </article>

                        </div>

                    {% endif %}

                {% endfor %}

            </div>
        </div>

    </section>

{% endblock %}
