{% extends "base.twig" %}

{% block content %}

    <section class="page-title-wrapper">
        <div class="container">
            <div class="row">

                <div class="col-12 text-center margin-bottom-2">

                    <div class="title-wrapper">
                        <h1>WordPress Projects</h1>
                        <p>I’m proud to have worked on some amazing B2B projects.  Below shows some of my latest and best work.</p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    {% for work in posts %}

        {% if work.post_status == 'publish' %}

            <div class="archive-work-card__layout fade-in-up">
                <article class="archive-work-card" style="background-image: url( {{ work.thumbnail.src }} );">
                    <div class="archive-work-card__overlay">
                        <div class="archive-work-card__overlay-content">
                            
                            <h3 class="archive-work-title">{{ work.title }}</h3>
                            <p class="text-white">{{ work.terms( { taxonomy: 'work_category' } ) | join(', ') }}</p>

                            <div class="margin-top-1">
                                <a href="{{ work.link }}" aria-label="{{ work.title }}">VIEW PROJECT<img class="button-arrow" src="{{ theme.link }}/dist/images/arrow-right-solid.svg" alt="arrow right image"></a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

        {% endif %}


    {% endfor %}

    <div class="clearfix"></div>

{% endblock %}
