{% extends "base.twig" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>My Portfolio</h1>
                <p class="margin-bottom-3">I’m proud to have worked on some amazing projects.  Below shows some of my latest and best work.</p>
            </div>
        </div>
    </div>

    {% for work in posts %}

        <div class="archive-work-card__layout">
            <article class="archive-work-card" style="background-image: url( {{ work.thumbnail.src }} );">
                <div class="archive-work-card__overlay">
                    <div class="archive-work-card__overlay-content">
                        <h3 class="archive-work-title">{{ work.title }}</h3>
                            <p> 
							    {# <?php 
	                    		
                                    $work_categories = wp_get_object_terms( $work->ID, 'work_category' );
                                    $work_cat_count = 0;

                                    foreach( $work_categories as $c ) {

                                        $cat = get_category( $c );
                                            
                                        if ( $work_cat_count > 0 ) {
                                            echo ', ' . esc_attr( $cat->name );
                                        } else {	
                                            echo esc_attr( $cat->name );
                                        }
                
                                        $work_cat_count++;

                                    }

		                        ?> #}

                                cats go here

							</p>

                            {# <a href="{{ work.permalink }}" title="{{ work.title }}">View Project <i class="fas fa-angle-double-right" aria-hidden="true"></i></a> #}


                            <a href="{{ work.link }}" class="" aria-label="{{ work.title }}">
                               VIEW PROJECT
                                <img class="button-arrow" src="{{ theme.link }}/dist/images/arrow-right-solid.svg" alt="arrow right image">
                            </a>



                    </div>
                </div>
            </article>
        </div>


    {% endfor %}

    <div class="clearfix"></div>

{% endblock %}
