{% extends "base.twig" %}

{% block content %}

    <article>

        <section class="archive">

            <div class="container">
            
                <div class="row">

                    <div class="col-12 col-lg-7 text-left margin-top-2">

                        <div class="title-wrapper">
                            <h1 class="text-center">{{ title }}</h1>
                        </div>

                    </div>

                    <div class="col-12 col-lg-7 text-left margin-top-2 order-2 order-lg-1 blog-list-items">

                        {% for post in posts %}

                            {% if post.post_status == 'publish' and post.title is not empty %}

                                <article class="blog-list-item">

                                    <a href="{{ post.link }}" aria-label="{{ post.title }}">
        
                                        <h2>{{ post.title }}</h2>

                                        <div class="excerpt">
                                    
                                            <p>{{ post.excerpt({ words: 50, read_more: false, strip: true })}}</p>

                                        </div>

                                        <div class="caption-text">Published on {{ post.date('jS F Y') }}, Last modified on {{ post.modified_date('jS F Y') }}</div>

                                    </a>

                                    <div class="hr-holder">
                                        <hr class="hr-class">
                                    </div>

                                </article>

                            {% endif %}

                        {% endfor %}
    
                    </div>

                    <div class="col-12 offset-lg-1 col-lg-4 text-left margin-top-2 order-1 order-lg-2">

                        <h2>About</h2>

                        {{ description }}

                        <div id="ps-custom-select" class="archive-categories-select">

                            <select id="literature-key-info-select">

                                <option value="all-categories" data-category-link="{{ blog_url }}">All Categories</option>

                                {% for category_item in category_data %}

                                    <option value="cat-slug-{{ category_item.category.slug }}" data-category-link="{{ category_item.category.category_link }}">{{ category_item.category.name }}&nbsp;({{ category_item.category.count }})</option>

                                {% endfor %}
                            
                            </select>

                        </div>

                        <div class="margin-top-3">

                            {{ sidebar }}

                        </div>
                
                    </div>
                </div>

            <div class="container">

                <div class="row">

                    <div class="col-12 text-center">

                        <div class="pagination">

                            {% if posts.pagination.prev %}

                                <a href="{{ posts.pagination.prev.link }}" class="prev {{ posts.pagination.prev.link|length ? '' : 'invisible' }}">Previous</a>

                            {% endif %}

                            {% for page in posts.pagination.pages %}

                                {% if page.link %}

                                    <a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
                    
                                {% endif %}

                            {% endfor %}

                            {% if posts.pagination.next %}

                                <a href="{{ posts.pagination.next.link }}" class="next {{ posts.pagination.next.link|length ? '' : 'invisible' }}">Next</a>
                        
                            {% endif %}
                            
                        </div>

                    </div>

                </div>

            </div>

        </section>

    </article>

{% endblock %}
