<footer>

    <section class="footer">
    
        <div class="container">

            <div class="row footer__row">

                <div class="my-auto footer__container">

                    <div class="col-12 col-md-4 fade-in-up my-auto">

                        {% set row_count = 1 %}
                        
                          {# {{ header_menu.items|length }}  #}

                          {# {% if loop.index is divisible by(3) %} #}

                        {% for item in header_menu.items %}
                     

                            {% if row_count < 4 %}

                                <a id="{{ item.slug }}" {% if item.current %} class="footer__link footer__active-menu" {% else %} class="footer__link" {% endif %} href="{{ item.link }}" aria-label="{{ item.title }}">{{ item.title }}</a>

                            {% endif %}

                            {% set row_count = row_count + 1 %}

                        {% endfor %} 

                    </div>

                    <div class="col-12 col-md-4 fade-in-up">

                        {% set row_count = 1 %}

                        {% for item in header_menu.items %}

                            {% if row_count > 3 %}

                                <a id="{{ item.slug }}" {% if item.current %} class="footer__link footer__active-menu" {% else %} class="footer__link" {% endif %} href="{{ item.link }}" aria-label="{{ item.title }}">{{ item.title }}</a>

                            {% endif %}

                            {% set row_count = row_count + 1 %}

                        {% endfor %} 

                    </div>

                    <div class="col-12 col-md-4 footer__col3-text fade-in-up my-auto">

                        {{ footer_column_3 }}

                    </div>

                </div>


            </div>
        </div>

    </section>
       
    <section class="footer-footnote">

        <div class="container">

            <div class="row">

                <div class="col-12 col-md-4 margin-top-3 margin-bottom-3 my-auto">
                    <a href="{{ site.url }}" aria-label="Go to homepage">
                        <img src="{{ header_logo.url }}" alt="Footer Logo">
                    </a>
                </div>

                <div class="col-12 col-md-8 margin-top-3 margin-bottom-3 my-auto">

                    <p class="white"><span>Copyright &copy;&nbsp;2016-{{ now|date('Y') }}&nbsp;Hartsoft Limited</span></p>
                    {{ footer_footnote }}

                </div>

            </div>

        </div>
   
    </section>

    <button id="genlite-back-to-top" title="Go to top">
        <img src="{{ theme.link }}/dist/images/chevron-up-solid.svg" alt="Go to the top of page">
    </button>

</footer>
