{% block header %}

    <header class="website-header">

        <section class="website-header__desktop">

            <div class="website-header__desktop-wrapper">

                <div class="container">	

                    <div class="row">

                        <div class="col-12 col-md-2 my-auto">

                            <div class="website-header__desktop-logo">
                                <a href="{{ site.url }}" aria-label="Go to the homepage">
                                    <img src="{{ general.logo.url }}" alt="Logo">
                                </a>                
                            </div>
                        
                        </div>

                        {% if header_menu.items is not empty %}

                            <div class="col-12 col-md-10 my-auto text-right">

                                <nav>

                                    {% for item in header_menu.items %}         

                                    
                                        {% if loop.last %}

                                            <div class="wp-block-button">
                                                <a class="wp-block-button__link has-text-align-center wp-element-button" href="{{ item.link }}">{{ item.title }}</a>
                                            </div>

                                        {% else %}


                                            {% if item.children %}

                                                <div class="dropdown">

                                                    <a {% if item.current %} class="dropbtn active" {% endif %} {% if item.current_item_parent %} class="dropbtn active" {% endif %} href="{{ item.link }}" aria-label="{{ item.title }}">{{ item.title }}
                                                        <img class="dropbtn-icon" src="{{ theme.link }}/dist/images/chevron-down-solid.svg">
                                                    </a>

                                                    <div class="dropdown-content">

                                                        {% for child in item.children %}

                                                            <a {% if child.current %} class="active-submenu" {% else %} class="submenu" {% endif %} href="{{ child.link }}" aria-label="{{ child.title }}">{{ child.title }}</a>

                                                        {% endfor %}

                                                    </div>

                                                </div>

                                            {% else %}

                                                <a {% if item.current %} class="menu-item-link active" {% else %} class="menu-item-link" {% endif %} href="{{ item.link }}" aria-label="{{ item.title }}">{{ item.title }}</a>

                                            {% endif %}

                                        {% endif %}
                                        
                                    {% endfor %}

                                </nav>

                            </div>

                        {% endif %}

                    </div>

                </div>

            </div>

        </section>

        <section class="website-header__mobile">

            <div class="website-header__mobile-wrapper">

                <div class="container">

                    <div class="row">

                        <div class="col-12 my-auto">

                            <div class="logo-icon-section">
                                <a href="{{ site.url }}" aria-label="Go to the homepage">
                                    <img src="{{ general.logo.url }}" alt="Logo">
                                </a>
                            </div>

                            <div id="website-mobile-menu" class="logo-icon-section text-right">

                                <button class="logo-icon-button">

                                    <img id="website-mobile-menu-show" src="{{ theme.link }}/dist/images/menu-hamberger.svg" alt="Mobile Menu Open">
                                    <img id="website-mobile-menu-close" src="{{ theme.link }}/dist/images/menu-window-close.svg" alt="Mobile Menu Close">

                                </button>

                            </div>

                        </div>

                    </div>

                </div>

                <nav id="website_mobile_page_links" class="page-links">
                    
                    <div class="text-center">

                        {% for item in header_menu.items %}

                            
                            {% if loop.last %}

                                <div class="wp-block-button">
                                    <a class="wp-block-button__link has-text-align-center wp-element-button" href="{{ item.link }}">{{ item.title }}</a>
                                </div>

                            {% else %}


                                {% if item.children %}

                                    <a id="{{ item.slug }}-{{ loop.index }}" class="mobile-parent-menu mobile-parent-submenu {% if item.current_item_parent %} active-mobile-submenu {% endif %}" 
                                        data-submenu-link="{{ item.slug }}-{{ loop.index }}" aria-label="{{ item.title }}">{{ item.title }}&nbsp;
                                        <img class="website-header__mobile-plus-icon" src="{{ theme.link }}/dist/images/chevron-down-solid.svg">
                                    </a>

                                    <div id="mobile-submenu-{{ item.slug }}-{{ loop.index }}" class="website-header__mobile-subnav-container">

                                        <a class="mobile-submenu-back">
                                            <img src="{{ theme.link }}/dist/images/arrow-left-solid.svg" class="back-button-icon" alt="Sub Menu go back">
                                        </a>

                                        {% for child in item.children %}

                                            <a {% if child.current %} class="active-mobile-submenu" {% else %} class="submenu" {% endif %} href="{{ child.link }}" aria-label="{{ child.title }}">{{ child.title }}</a>

                                        {% endfor %}


                                    </div>

                                {% else %}

                                    <a id="{{ item.slug }}" {% if item.current %} class="mobile-parent-menu active" {% else %} class="mobile-parent-menu" {% endif %} href="{{ item.link }}" aria-label="{{ item.title }}">{{ item.title }}</a>

                                {% endif %}

                            {% endif %}
                        
                        {% endfor %}

                    </div>

                </nav>
                
            </div>

        </section>
      
    </header>

{% endblock %}
