{% extends "base.twig" %}

{% block content %}

<article id="post-{{ post.id }}">

	<div class="single-work__wrapper">

        <section class="single-work__image fade-in-zoom" style="background-image: url('{{ post.thumbnail.src }}')">

            <div class="single-work__overlay"></div>

        </section>

        <section class="single-work__text">

            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <h1>{{ post.title }}</h1>

                    </div>
                </div>
            </div>

        </section>

	</div>

	<div class="container">
		
		<div class="row">

			<div class="col-12">

                {% if post.project_website is not empty %}
					
						<div class="wp-block-button margin-top-2 margin-bottom-3"><a class="wp-block-button__link" href="{{ post.project_website }}">Visit Website</a></div>
                
                {% endif %}

			</div>

			{# <div class= "col-6 text-right" > #}

                {# Wont filter publish 

                {% if post.next('work_category').link is not empty %}

                   <a href="{{ post.next('work_category').link }}">left</a>

                {% endif %}

                  {% if post.prev('work_category').link is not empty %}

                   <a href="{{ post.prev('work_category').link }}">righ</a>

                {% endif %} #}

			{# </div>	 #}
		
			<div class="col-12 margin-bottom-3">

                <div id="work-{{ post.id }}">

                        {{ post.content }}

                </div>						
			
				<p><i>Categories: {{ post.terms('work_category') | join(', ') }}</i></p>

			</div>

		</div>
			
	</div>
		
</article>

{% endblock %}
