{% extends "base.twig" %}

{% block content %}

    <article id="post-{{ post.id }}">

        {% include '/parts/featured-hero.twig' %} 

        <section class="single-work">

            <div class="container">
                
                <div class="row">

                    <div class="col-12 col-md-9 margin-top-3">

                        <div id="work-{{ post.id }}">

                            {{ post.content }}

                        </div>	

                        <h5>Categories</h5>			

                        <p>	

                        {% for term in post.terms( { taxonomy: 'work_category' } )  %}
                            <a href="{{ term.link }}">{{ term.title }}</a>
                        {% endfor %}

                        </p>


                    </div>

                    <div class="col-12 col-md-3 text-right margin-top-1">

                        {% if post.prev is not empty %}
                            <a href="{{ post.prev.link|esc_url }}">Previous</a>
                        {% endif %}

                        {% if post.next is not empty %}
                            <a class="margin-left-1" href="{{ post.next.link|esc_url }}">Next</a>
                        {% endif %}
                             
                    </div>

                    <div class="col-12 margin-top-1 margin-bottom-3">

                        {% if post.project_website is not empty %}
                            
                            <div class="wp-block-button">
                                <a class="wp-block-button__link" href="{{ post.project_website }}">Visit Website</a>
                            </div>
                        
                        {% endif %}

                    </div>

                </div>
                    
            </div>

        </section>
		
    </article>

{% endblock %}
