{% extends "base.twig" %}

{% block content %}


<article id="post-{{ post.id }}">

	<div class="single-work__wrapper">

        <section class="single-work__image" style="background-image: url('{{ post.thumbnail.src }}')">
                
            <div class="single-work__overlay"></div>
        
        </section>

        <section class="single-work__text">

            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <h1>{{ post.title }}</h1>

                    </div>
                </div>
            </div>

        </section>

	</div>

	<div class="container">
		
		<div class="row">

			<div class="col-6 pt-3 pb-4">

				{# <?php if (!empty($website_value)) {?> #}
					
						<div class="wp-block-button margin-top-2 margin-bottom-2"><a class="wp-block-button__link" href="#">Visit Website</a></div>
				

				{# <?php } ?> #}

			</div>

			<div class= "col-6 text-right" >
			
           
				{# <?php 
                    get_next_posts_link();
                    $next_post = get_next_post();
                    if (!empty( $next_post )) { ?>
                        <a href="<?php echo esc_url( get_permalink( $next_post->ID )); ?>"><i class="fas fa-angle-double-left"></i></a>
				<?php } ?>

                <?php 
					get_previous_posts_link();
					$prev_post = get_previous_post();
					if (!empty( $prev_post )) { ?>
						<a href="<?php echo esc_url(get_permalink( $prev_post->ID )); ?>"><i class="fas fa-angle-double-right"></i></a>
				<?php }  ?> #}

			</div>	
		
			<div class="col-12">

					<div id="work-{{post.id}}">

						 {{ post.content }}

					</div>						
			
				<br>

			</div>

            <div class="col-12">
                <p><i>Categories: 
		    		{# <?php 
	                    		
		                $post_categories = wp_get_object_terms( $post->ID, 'work_category' );
		                $post_cat_count = 0;
						foreach( $post_categories as $c ) {

							$cat = get_category( $c );
									  
							if ( $post_cat_count > 0 ) {
								echo ', ' . esc_attr( $cat->name );
							} else {	
								echo esc_attr( $cat->name );
							}
		
							$post_cat_count++;
						}

		            ?> #}
                    </i>
				</p>
            </div>

		</div>
			
	</div>
		
</article>

{% endblock %}
