<section class="block-current-job-openings">
    <div class="container">

        <div class="row">

            <div class="col-12 animation-section fade-in-up">

                <h2>Current Job Openings</h2>
                <hr>

            </div>

            <div class="col-md-6 animation-section fade-in-up">

                {% for item in fields.current_job_openings_col_1 %}

                    <article class="margin-bottom-2">

                        <h4 class="padding-bottom-0">{{ item.job_title }}</h4>
                        <h6>{{ item.job_location }}</h6>
                        <a href="{{ item.job_url }}" target="_blank" class="text-gold margin-bottom-3" aria-label="{{ item.job_title }} Learn More">Learn more</a>

                    </article>

                {% endfor %}

            </div>

            <div class="col-md-6 animation-section fade-in-up">

                {% for item in fields.current_job_openings_col_2 %}

                    <article class="margin-bottom-2">

                        <h4 class="padding-bottom-0">{{ item.job_title }}</h4>
                        <h6>{{ item.job_location }}</h6>
                        <a href="{{ item.job_url }}" target="_blank" class="text-gold margin-bottom-3" aria-label="{{ item.job_title }} Learn More">Learn more</a>

                    </article>

                {% endfor %}

            </div>




        </div>

    </div>


</section>