<section class="block-join-our-team">

    <div class="container">
        <div class="row">
            
            <div class="col-12 col-md-8 my-auto fade-in-up">
                <div class="block-join-our-team__label">{{ fields.join_our_team_label }}</div>
            </div>

            <div class="col-12 col-md-4 text-right my-auto fade-in-up">

                <div class="block-join-our-team__button-wrapper">

                    <a href="{{ fields.join_our_team_button.url }}" class="button secondary-button margin-top-0" aria-label="{{ fields.join_our_team_button.title }}">
                        {{ fields.join_our_team_button.title }}
                        <img class="button-arrow" src="{{ theme.link }}/dist/images/arrow-right-solid.svg" alt="arrow right image">
                    </a>
                
                </div>

            </div>
            
        </div>
    </div>

</section>
