<section class="block-leadership">

    <img class="block-leadership__star animation-section fade-in-zoom" src="{{ theme.link }}/dist/images/kstar-leadership.png">

    <div class="block-leadership__container">

        <div class="container">

            <div class="row">

                {% for item in fields.leadership_employees %}

                    <div class="col-12 col-sm-6 col-md-4 block-leadership__card animation-section fade-in-up">

                        {% if item.leadership_headshot is not empty %}

                            <img src="{{ item.leadership_headshot.url }}" class="block-leadership__headshot margin-bottom-2" alt="{{ item.leadership_name }} {{ item.leadership_job_title }}">

                        {% endif %}

                        <h5>{{ item.leadership_name }}</h5>
                        <h5 class="text-gold margin-bottom-0">{{ item.leadership_job_title }}</h5>

                        <div>

                            {{ item.leadership_body }}

                        </div>


                    </div>

                {% endfor %}

            </div>

        </div>

    </div>


</section>
