{% block header %}

    <header class="website-header">

        <section class="website-header__desktop">

            <div class="website-header__desktop-wrapper">

                <div class="container">	

                    <div class="row">

                        <div class="col-12 col-md-3 my-auto">

                            {% if header.logo is not empty %}

                                <div class="website-header__desktop-logo">
                                    <a href="{{ home_url }}" aria-label="Go to the homepage">
                                        <img src="{{ header.logo.url }}" alt="Logo">
                                    </a>                
                                </div>

                            {% else %}

                                <div class="website-header__desktop-logo-text-wrapper">
                                    <a href="{{ home_url }}" aria-label="Go to the homepage">
                                        <h3>{{ header.logo_text }}</h3>
                                        <h6>{{ header.logo_sub_text }}</h6>
                                    </a>                
                                </div>

                            {% endif %}
                            
                        </div>

                        {% if header_menu.items is not empty %}

                            <div class="col-12 col-md-9 my-auto text-right">

                                <nav>

                                    {% for item in header_menu.items %}         

                                    
                                        {% if loop.last %}

                                            <div class="wp-block-button">
                                                <a class="wp-block-button__link has-text-align-center wp-element-button  {% if item.current %} wp-block-button__current {% endif %}" href="{{ item.link }}">{{ item.title }}</a>
                                            </div>

                                        {% else %}


                                            {% if item.children %}

                                                <div class="dropdown">

                                                    <a {% if item.current %} class="dropbtn active" {% endif %} {% if item.current_item_parent %} class="dropbtn active" {% endif %} href="{{ item.link }}" aria-label="{{ item.title }}">{{ item.title }}</a>

                                                    <div class="dropdown-content">

                                                        {% for child in item.children %}

                                                            <a {% if child.current %} class="active-submenu" {% else %} class="submenu" {% endif %} href="{{ child.link }}" aria-label="{{ child.title }}">{{ child.title }}</a>

                                                        {% endfor %}

                                                    </div>

                                                </div>

                                            {% else %}

                                                <a {% if item.current %} class="menu-item-link active" {% else %} class="menu-item-link" {% endif %} href="{{ item.link }}" aria-label="{{ item.title }}">{{ item.title }}</a>

                                            {% endif %}

                                        {% endif %}
                                        
                                    {% endfor %}

                                </nav>

                            </div>

                        {% endif %}

                    </div>

                </div>

            </div>

        </section>

        <section class="website-header__mobile">

            <div class="website-header__mobile-wrapper">

                <div class="container">

                    <div class="row">

                        <div class="col-9 text-left my-auto">

                           {% if header.logo is not empty %}

                                <div class="logo-icon-section">
                                    <a href="{{ home_url }}" aria-label="Go to the homepage">
                                        <img src="{{ header.logo.url }}" alt="Logo">
                                    </a>
                                </div>

                              {% else %}

                                <div class="website-header__desktop-logo-text-wrapper">
                                    <a href="{{ home_url }}" aria-label="Go to the homepage">
                                        <h3>{{ header.logo_text }}</h3>
                                        <h6>{{ header.logo_sub_text }}</h6>
                                    </a>                
                                </div>

                            {% endif %}

                        </div>

                        <div class="col-3 text-right my-auto">

                            <div id="website-mobile-menu" class="logo-icon-section text-right">

                                <button class="logo-icon-button">
                                    <img id="website-mobile-menu-show" class="iconBtn" src="{{ theme.link }}/dist/images/menu-hamberger.svg" alt="Mobile Menu Open">
                                </button>

                            </div>

                        </div>

                    </div>

                </div>

                <nav id="website_mobile_page_links" class="page-links">

                    <div class="container">

                        <div class="row">

                            <div class="col-12 text-right">

                                <div class="iconBtnWrapper">

                                    <img id="website-mobile-menu-close" class="iconBtn" src="{{ theme.link }}/dist/images/menu-window-close.svg" alt="Mobile Menu Close">
                                
                                </div>
                    
                                <div class="mobile-menu-wraapper">
                   
                                    {% for item in header_menu.items %}

                                        
                                        {% if loop.last %}

                                            <div class="wp-block-button">
                                                <a class="wp-block-button__link has-text-align-center wp-element-button {% if item.current %} wp-block-button__current {% endif %}" href="{{ item.link }}">{{ item.title }}</a>
                                            </div>

                                        {% else %}


                                            {% if item.children %}

                                                <a id="{{ item.slug }}-{{ loop.index }}" class="mobile-parent-menu mobile-parent-submenu {% if item.current_item_parent %} active-mobile-submenu {% endif %}" 
                                                    data-submenu-link="{{ item.slug }}-{{ loop.index }}" aria-label="{{ item.title }}">{{ item.title }}</a>

                                                <div id="mobile-submenu-{{ item.slug }}-{{ loop.index }}" class="website-header__mobile-subnav-container">

                                                    <a class="mobile-submenu-back">
                                                        <img src="{{ theme.link }}/dist/images/arrow-left-solid.svg" class="back-button-icon" alt="Sub Menu go back">
                                                    </a>

                                                    {% for child in item.children %}

                                                        <a {% if child.current %} class="active-mobile-submenu" {% else %} class="submenu" {% endif %} href="{{ child.link }}" aria-label="{{ child.title }}">{{ child.title }}</a>

                                                    {% endfor %}


                                                </div>

                                            {% else %}

                                                <a id="{{ item.slug }}" {% if item.current %} class="mobile-parent-menu active" {% else %} class="mobile-parent-menu" {% endif %} href="{{ item.link }}" aria-label="{{ item.title }}">{{ item.title }}</a>

                                            {% endif %}

                                        {% endif %}
                                    
                                    {% endfor %}

                                </div>

                            </div>

                        </div>

                    </div>

                </nav>
                
            </div>

        </section>
      
    </header>

{% endblock %}
