{% extends 'base.twig' %}

{% block content %}

    <section class="woo-archive">

        <div class="container">

            <div class="row">

                <div class="col-md-3">

                    <div>{{ breadcrumb }}</div>
                    <div>{{ categories }}</div>
                    
                </div>

                <div class="col-md-9">
                    
                    <div class="row">

                        <div class="col-12">
                         
                            {% include 'searchform.twig' %}
                            {{ result_count }}
                            {% include 'parts/pagination.twig' %} 

                        </div>

                        {% for item in products %}

                            {% set sale_price = item.meta('_sale_price') %}
                            {% set regular_price = item.meta('_regular_price') %}
                            {% set price = item.meta('_price') %}

                            <div class="col-md-4">

                                <a href="{{ item.link }}">

                                    <div class="woo-archive__card">

                                        <div class="woo-archive__image-wrapper">
                                            <div class="woo-archive__tag">Stabilized Real Estate</div>
                                            <div class="woo-archive__image" style="background-image: url('{{ item.thumbnail.src }}');"></div>
                                        </div>

                                        <div class="woo-archive__text-holder">
                                        
                                            <div class="title">
                                                <p>{{ item.title }}</p>

                                            </div>

                                            <h3>
                                                {% if sale_price is not empty %}

                                                    <del>{{ woo_currency }}{{ regular_price }}</del>&nbsp;{{ woo_currency }}{{ sale_price }}</h3>

                                                {% else %}

                                                    {{ woo_currency }}{{ price }}

                                                    {# $product->get_price_html(); #}

                                                {% endif %}
                                            </h3>


                                        </div>

                                    </div>

                                </a>

                            </div>
                        
                        {% endfor %}

                    </div>

                </div>


            </div>

        </div>

    </section>

{% endblock %}
