<input class="blog_no_rows" type="hidden" value="{{ woo_results_row_count }}">

<div class="row">
 
    {% set postCounter = 0 %}
    {% for woo_result_item in woo_results_data %}

        <div class="blog-woo__card-container">

            <div class="col-12 col-md-6 offset-md-1 spacer workItem show-workItem blog-woo__card-order-text {{ woo_result_item.id }}">

                <div class="blog-woo__card">
            
                    <a href="{{ woo_result_item.link }}">

                        <h4>{{ woo_result_item.title }}</h4>
                        <h6>By {{ woo_result_item.firstname }} {{ woo_result_item.lastname}} • <span class="blog-woo__categories-info">{{ woo_result_item.categories }}</span> • {{ woo_result_item.postdate }}</h6>
                        <p>{{ woo_result_item.excerpt }}</p>

                    </a>

                </div>

            </div> 

            <div class="col-12 col-md-3 offset-md-1 my-auto blog-woo__card-order-image">

                <a href="{{ woo_result_item.link }}">

                    <div class="blog-woo__card-image-wrapper">
                        <div class="blog-woo__card-image" style="background-image: url('{{  woo_result_item.featured_image }}');"></div>
                    </div>

                </a>

            </div>

        </div>

        {% set postCounter = postCounter + 1 %}

      	

    {% endfor %}

</div>
